{% extends 'pages/base.jinja'%}

{% block title%}
    Flask Demo - Balls
{% endblock %}  

{% block content%}
    <h2>Flask</h2>

    <p>Flask is what makes your thingies thingy</p>

    <h2>Jinja</h2>

    <p>Robbie Burns is a jinja</p>
{% endblock %}