{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Number
{% endblock %}


{% block content %}

    <h2>Man what a loser</h2>

    <article>
        <h3>Imagine being called</h3>

        {{ name }}
    </article>
    <article>  
        <h3>And having some stupid age like</h3>

        {{ age }}
    </article>

{% endblock %}
