{% extends 'pages/base.jinja'%}

{% block title%}
    Flask Demo - Peanits
{% endblock %}  

{% block content%}
    <h1>Maverick force s profile</h1>

    <p>This is a first flask thingy id rather be in the hall rn</p>
{% endblock %}