{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Number
{% endblock %}


{% block content %}

    <h2>On a scale of 1-10, I rate your stupidity at:</h2>

    <article id="number">
        {{ number }}
    </article>

{% endblock %}
